.edit-post-form{
  margin: 20px;
  height: auto;
  width: 600px
}

.edit-post-title{
  display: flex;
  justify-content: center;
}

.all-edit-post-fields{
  display: flex;
  flex-direction: column;
}

.post-media-upload{
  margin: 20px 0px;
}

.choose-file-post{
  font-family: 'Comfortaa', 'Montserrat';
}

.edit-post-button{
  margin: 10px 0px;
}

.edit-post-inputs{
  margin: 10px 0px;
}