.coaches-corner-container{
  margin: 30px 5px
}

.allcards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.card{
  width:400px;
  display: flex;
  justify-content: center;
}

.coaches-corner-title{
  display: flex;
  justify-content: center;
}

.button-to-see-more{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #4DCCBD;
  color: #252466;
  font-family: 'Comfortaa', 'Montserrat';
  cursor: pointer;
  width: 200px;
  height: 30px;
}


.button-to-see-more:hover{
  margin: 1px;
}