.coaches-corner-container{
  margin: 30px 5px
}

.allcards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.card{
  width:400px;
  display: flex;
  justify-content: center;
}

.coaches-corner-title{
  display: flex;
  justify-content: center;
}