.edit-goal-form{
  margin: 20px;
  height: auto;
  width: 600px
}

.edit-goal-title{
  display: flex;
  justify-content: center;
}

.edit-goal-inputs{
  margin: 10px 0px;
}

.edit-goal-buttons{
  margin: 15px 0px;
}