.login-form-container{
  margin: 20px;
  height: auto;
  width: 600px
}

.login-title{
  display: flex;
  justify-content: center;
}

.login-input{
  margin: 20px 0px;
}

.demo-title{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.demo-buttons{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.demo-athlete,
.demo-coach{
  margin: 0 10px
}

.login-modal-div,
.signup-modal-div{
  margin-right: 20px;
  cursor: pointer;
}

.login-modal-div:hover,
.signup-modal-div:hover{
  border-bottom: 1px solid black;
}
