.athlete-title-splash{
  width: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.coach-title-splash{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items:flex-end;
  margin-top: 30%;
}

.athlete-title-splash p{
  transition-property: background-color ;
  transition-duration: 1.5s;
  
}

.athlete-title-splash:hover{
  transform: red;
}

@keyframes athlete-title-splash{
  from{
    margin-left: -100%;
    width: 300%
  }
  to{
    margin-left: 0%;
    width:100%
  }
}

.splash-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.demo-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.splash-demo{
  text-align: center;
}

.carousel-splash{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.splash-image{
  align-content: center;
}

.splash-header{
  background-image: url("./phelps-fly.jpeg");
  background-size: 100%;
  background-position-y: -100px;
  height: 600px;


}
