.athlete-title-splash{
  display: grid;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in;
}

.splash-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.demo-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.splash-demo{
  text-align: center;
}

.carousel-splash{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.splash-image{
  align-content: center;
}

.background-image{
  background-image: url("./phelps-fly.jpeg");
  height: 430px;
}