
.mood-container{
  /* display: flex;
  justify-content: flex-start; */
  margin: 10px 5px 20px 5px;
}

.goals-container{
  margin: 10px 5px 20px 5px;
}

.questions{
  margin: 10px 5px 20px 5px;
}
.text-area-survey{
  width: 700px
}
.survey-button{
  display: flex;
  justify-content: center;
  margin: 10px 5px 20px 5px;
}

.multiple-choice-surveys{
  display: flex;
  justify-content: space-around;
}

.survey-title{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.open-ended-question{
  display: flex;
  justify-content: center;
}