.teamsignup-title{
  text-align: center;
}

.teamsignup-form{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}

.logo-upload{
  margin: 20px 20px;
  align-items: center;
  
  
}

.team-signup-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.teamsignup-input{
  margin: 20px 0px;
}