.swimmer-score{
  display: flex;
  justify-content: center;
}

.score-container{
  margin-left: 5px;
}

.score-text{
  margin: 10px 0px
}

.score-calculation{
  margin: 10px
}

.score-title{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}