.top-nav {
  display: flex;
  background-color: #F2F2F2;
  justify-content: flex-end;
  height: 40px;
}

.top-splash-nav{
  display: flex;
  background-color: #252466;
  justify-content: flex-end;
  height: 40px;
}

.nav-logo{
  background-image: url("./teamsight_logo.png");
  width: 300px;
  z-index: 1;
}

.nav-logo-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  width: 100%;

}

.nav-bar-buttons{
  display: flex;
  align-items: center;
}

.home-nav,
.checkin-nav,
.goals-nav,
.roster-nav,
.posts-nav{
  margin-right: 10px;
  cursor: pointer;
}

.home-nav:hover,
.checkin-nav:hover,
.goals-nav:hover,
.roster-nav:hover,
.posts-nav:hover{
  border-bottom: 1px solid #4DCCBD;
}

/* .home-nav.,
.checkin-nav:hover,
.goals-nav:hover,
.roster-nav:hover,
.posts-nav:hover{
  border-bottom: 1px solid black;
} */