.athlete-table{
  display: flex;
  justify-content: center;
  
}

.MuiTableContainer-root {
    width: 80%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
    color: #4DCCBD;
}

.MuiTableSortLabel-active{
  color: #4DCCBD;
}